@media (max-width: 375px) {
    .container {
        width: 375px;
        margin: 0 auto;
    }
    header {
        justify-content: space-around;
    }
    .none {
        display: none;
    }
    nav {
        display: none;
    }
    #icon-burger {
        display: block;
    }
    .section-main {
        flex-direction: column-reverse;
    } 
    .main-left {
        width: 100%;
        padding: 0 25px;
    }
    .tittle-main {
        text-align: center;
        font-size: 50px;
        margin-top: -30px;
    }
    .paragraph {
        width: 100%;
        text-align: center;
    }
    #img-main {
        width: 90%;
    }   
    .button-center {
        margin-left: 100px;
    }
    .section-about {
        flex-direction: column;
    }
    .about-description {
        width: 100%;
        padding: 0 25px;
    }
    .tittle-about {
        text-align: center;
    }
    .content {
        width: 100%;
    }
   /*  .title-content {
        width: 90%;
    } */

    .avatar-none {
        display: none;
    }
    .content-rectangle {
        flex-direction: column;
    }
    .title-rectangle {
        width: 80%;
        text-align: center;
        margin-bottom: 20px;
    }
}