* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

/****GENERALES****/

/*****HEADER*****/

body {
    background-image: url(../imagenes/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position: right -200px;
}

header {
    height: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}


/*Menú*/

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    padding: 10px;
}

nav ul a {
    text-decoration: none;
    color: #242E52;
}

.button-get {
    width: 134px;
    padding: 12.5px 0;
    border-radius: 25px;
    background-color: #F3603B;
    border: none;
    color: white;
    box-shadow: 2px 5px 6px 3px rgba(243,96,59,0.09);
    -webkit-box-shadow: 2px 5px 6px 3px rgba(243,96,59,0.09);
    -moz-box-shadow: 2px 5px 6px 3px rgba(243,96,59,0.09);
    cursor: pointer;
}

.button-get:hover {
    opacity: 0.8;
}

/*****SECCIÓN MAIN*****/

.section-main {
    display: flex;
    justify-content: space-between;
}

.main-left {
    margin-top: 50px;
    width: 40%;
}

.tittle-main {
    color: #232C50;
    font-size: 58px;
    margin-top: 20px;
    margin-bottom: 40px;
    line-height: 62px;
}

.paragraph {
   line-height: 24px;
   margin-bottom: 40px;
   font-size: 16px;
   width: 75%;
   color: rgb(143, 148, 167);
}

/*****SECCIÓN NOSOTROS*****/

.section-about {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.about-description {
    margin-top: 50px;
    width: 40%;
}

.tittle-about {
    font-size: 36px;
    color: #232C50;
    margin-bottom: 40px;
    line-height: 44px;
}

.about-content {
    display: flex;
    flex-direction: column;
    width: 47%;
    margin-top: 50px;
}

.content {
    display: flex;
    margin-bottom: 15px;
    align-items: flex-start;
}

.numero1::before {
    content: '1';
    background-color: #F3603B;
    padding: 5px 20px;
    border-radius: 15px;
    color: white;
    margin-right: 15px;
}

.numero2::before {
    content: '2';
    background-color: #F3603B;
    padding: 5px 20px;
    border-radius: 15px;
    color: white;
    margin-right: 15px;
}

.numero3::before {
    content: '3';
    background-color: #F3603B;
    padding: 5px 20px;
    border-radius: 15px;
    color: white;
    margin-right: 15px;
}

.title-content {
    color: #323851;
    font-size: 16px;
    margin-bottom: 10px;
}

/*****SECCIÓN CARROUSEL*****/

.tittle-carrousel {
    font-size: 36px;
    color: #232C50;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 120px;
}

.container-carrousel {
    display: flex;
}

.content-avatar {
    background-color: rgb(249, 249, 249);
    margin: 0 30px;
    width: 35%;
}

.img-avatar {
    position: relative;
    left: 90px;
    bottom: 70px;
}

.title-avatar {
    color: #323851;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

.paragraph-avatar {
   line-height: 24px;
   font-size: 16px;
   color: rgb(143, 148, 167);
   text-align: center;
   margin-bottom: 40px;
}

.button-carrousel {
    text-align: center;
    margin-top: 40px;
}


.section-rectangle {
    background-color: #F3613C;
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    padding: 40px 0;
}

.reverse {
    background-color: white;
    color: #F3603B;
}

.title-rectangle{ 
    color: white;
    font-size: 30px;
}

/*****FOOTER*****/

footer {
    background-color: #1E1E26;
    display: flex;
}