* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

/****GENERALES****/

body {
    background-image: url(../imagenes/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position: right -200px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}


/*****HEADER*****/

header {
    height: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px 0 0;
}

#logo-header {
    cursor: pointer;
}

/*Header - Menú*/

#icon-burger {
    display: none;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    padding: 10px;
}

header nav ul a {
    text-decoration: none;
    color: #242E52;
    font-weight: 700;
    margin: 0 10px;
}

nav ul a:hover {
    color: rgb(143, 148, 167);
}

/*****BUTTON*****/

.button-get {
    width: 134px;
    padding: 12.5px 0;
    border-radius: 25px;
    background-color: #F3603B;
    border: none;
    color: white;
    box-shadow: 2px 5px 6px 3px rgba(243,96,59,0.09);
    -webkit-box-shadow: 2px 5px 6px 3px rgba(243,96,59,0.09);
    -moz-box-shadow: 2px 5px 6px 3px rgba(243,96,59,0.09);
    cursor: pointer;
}

.button-get:hover {
    opacity: 0.8;
}

/*****SECTION MAIN*****/

.section-main {
    display: flex;
    justify-content: space-between;
}

.main-left {
    margin-top: 50px;
    width: 40%;
}

.tittle-main {
    color: #232C50;
    font-size: 54px;
    margin-top: 20px;
    margin-bottom: 40px;
    line-height: 62px;
}

.paragraph {
   line-height: 24px;
   margin-bottom: 40px;
   font-size: 16px;
   width: 75%;
   color: rgb(143, 148, 167);
}

/*****SECTION ABOUT*****/

.section-about {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.about-description {
    margin-top: 50px;
    width: 40%;
}

.tittle-about {
    font-size: 36px;
    color: #232C50;
    margin-bottom: 40px;
    line-height: 44px;
}

.about-content {
    display: flex;
    flex-direction: column;
    width: 47%;
    margin-top: 50px;
}

.content {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.numero1::before {
    content: '01';
    background-color: #F3603B;
    padding: 5px 20px;
    border-radius: 15px;
    color: white;
    margin-right: 15px;
}

.numero2::before {
    content: '02';
    background-color: #F3603B;
    padding: 5px 20px;
    border-radius: 15px;
    color: white;
    margin-right: 15px;
}

.numero3::before {
    content: '03';
    background-color: #F3603B;
    padding: 5px 20px;
    border-radius: 15px;
    color: white;
    margin-right: 15px;
}

.title-content {
    color: #323851;
    font-size: 16px;
    margin-bottom: 10px;
}

/*****SECTION CARROUSEL*****/

.section-carrousel {
    width: 100%;
}

.tittle-carrousel {
    font-size: 36px;
    color: #232C50;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 140px;
}

.container-carrousel {
    display: flex;
}

.content-avatar {
    background-color: rgb(249, 249, 249);
    margin: 0 30px;
    padding: 20px;
}

.img-avatar {
    position: relative;
    left: 30%;
    bottom: 70px;
}

.title-avatar {
    color: #323851;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -50px;
}

.paragraph-avatar {
   line-height: 24px;
   font-size: 16px;
   color: rgb(143, 148, 167);
   text-align: center;
   margin-bottom: 40px;
}

.button-carrousel {
    text-align: center;
    margin-top: 40px;
}

#icon-carrousel {
    display: flex;
    justify-content: center;
}

.fa-ellipsis {
    font-size: 40px;
    color: #F3603B;
    display: none;
}

/*****ÚLTIMA SECCIÓN****/

.section-rectangle {
    background-color: #F3613C;
    margin-top: 60px;
    padding: 50px 0;
}

.content-rectangle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-reverse     {
    background-color: white;
    color: #F3603B;
}

.title-rectangle { 
    color: white;
    font-size: 30px;
    width: 30%;
}

/*****FOOTER*****/

footer {
    background-color: #1E1E26;
}

.content-footer {
    display: flex;
    justify-content: space-between;
    height: 230px;
    padding: 50px 0;
}

.logo-redes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-footer {
    margin-bottom: 20px;
    cursor: pointer;
}

.fab {
    color: white;
    font-size: 20px;
    margin-top: 30px;
    padding: 5px;
    cursor: pointer;
} 

.fab:hover {
    color: #F3603B;
}

.nav-footer-container {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.nav-footer li {
    list-style-type: none;
    margin-bottom: 15px;
}

.nav-footer li a {
    color: white;
    text-decoration: none;
    font-weight: 400;
}

.nav-footer li a:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-weight: 400;
    color: #F3603B;
}

.content-form form {
    display: flex;
}

#input-footer {
    border-radius: 30px;
    border: none;
    padding: 10px 15px;
}

::placeholder {
    color: #F3603B;
}

#paragraph-input {
    color: rgb(242, 95, 58);
    font-size: 10px;
    padding: 10px;
    margin-left: 15px;
}

#button-footer {
    border-radius: 20px;
    padding: 10px 25px;
    margin-left: 5px;
    border: none;
    background-color: rgb(242, 95, 58);
    color: white;
    cursor: pointer;
}

#button-footer:hover {
    opacity: 0.7;
}

#copy-footer {
    color: gray;
    font-size: 12px;
    margin-top: 30px;
}

#copy-footer-none {
    display: none;
}

/*****RESPONSIVE*****/

@media (max-width: 375px) {
    .container {
        width: 100%;
        margin: 0 auto;
    }
    header {
      justify-content: space-between;
      padding: 0 15px;
    }
    .button-none {
        display: none;
    }
    header nav {
        display: none;
    }
    #icon-burger {
        display: block;
    }
    .section-main {
        flex-direction: column-reverse;
    } 
    .main-left {
        width: 100%;
        padding: 0 25px;
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .tittle-main {
        text-align: center;
        font-size: 50px;
        margin-top: -30px;
        line-height: 55px;
    }

    .main-ilustration,.main-ilustration img {
        width: 100%;
    }
    .paragraph {
        width: 100%;
    }
    #img-main {
        width: 90%;
    }   
    .button-center {
        margin-left: 100px;
    }
    .section-about {
        flex-direction: column;
    }
    .about-content {
        width: 100%;
        padding: 0 15px;
    }
    .about-description {
        width: 100%;
        padding: 0 25px;
    }
    .tittle-about {
        text-align: center;
        line-height: 40px;
        margin-top: 40px;
    }
    .content {
        width: 100%;
    }
    .img-avatar {
        left: 25%;
    }
    .container-carrousel {
        width: 100%;
    }
    .avatar-none {
        display: none;
    }

    #icon-carrousel {
        display: flex;
        justify-content: center;
    }
    
    .fa-ellipsis {
        font-size: 40px;
        color: #F3603B;
        display: block;
    }
    .content-rectangle {
        flex-direction: column;
    }

    .title-content {
        background-color: #f3e7e5;
        padding: 5px;
    }
    .title-rectangle {
        width: 70%;
        text-align: center;
        padding: 20px 0;
        font-size: 35px;
    }
    .content-footer {
        flex-direction: column-reverse;
        height: auto;
        padding: 40px 0 10px;
    }    
    .logo-redes {
        display: flex;
        flex-direction: column-reverse;
    }
    .logo-footer {
        width: 70%;
        margin: 0 auto;
        margin-top: 15px;
    }
    .icons-footer {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .fab {
        font-size: 30px;
        padding: 15px;
    } 
    .logo-footer {
        width: 150px;
    }
    .nav-footer-container {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 40px;
    }
    form {
       display: flex;
       justify-content: center;
       width: 100%;
    }

    .form-email {
        width: 60%;
        margin-right: 10px;
    }

    #input-footer {
        width: 100%;
    }

    #paragraph-input {
        display: none;
    }

    #copy-footer{
        display: none;
    }
    #copy-footer-none {
        display: block;
        color: gray;
        font-size: 12px;
        margin-top: 30px;
        text-align: center;
        padding-bottom: 30px;
    }
}